<script language="JavaScript">
	function textCounter(field,cntfield,maxlimit){
		if(field.value.length > maxlimit) // if too long... trim it!
		  field.value = field.value.substring(0, maxlimit);
		else
		  cntfield.value = maxlimit - field.value.length;
	}
</script>

<%= form_for @micropost  do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :content,
		:onkeydown => "textCounter(document.new_micropost.micropost_content, 
			document.new_micropost.micropost_remLen, 140)",
		:onkeyup => "textCounter(document.new_micropost.micropost_content,
			document.new_micropost.micropost_remLen, 140)"%>
	</div>
	<div class="field">
		<%= f.text_field :remLen, :value => "140" %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>


